body {
  font-family: Verdana;
  margin: 0;
  padding: 0;
}

  #main-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(30px, auto);
    grid-template-areas:
    'header header nav nav nav nav'
    'get-started get-started get-started get-started get-started get-started'
    '.car-selection car-selection car-selection car-selection.'
    '. left-honda-content left-honda-content right-honda-car right-honda-car .'
    '. left-audi-car left-audi-car right-audi-content right-audi-content .'
    '. left-chevy-content left-chevy-content right-chevy-car right-chevy-car .'
    '. left-ford-car left-ford-car right-ford-content right-ford-content .'
    'footer footer privacy privacy privacy privacy'
    'footer footer privacy privacy privacy privacy'
    'footer footer privacy privacy privacy privacy';
   }

/*
grid-area: start
*/

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}

.get-started {
  grid-area: get-started;
  position: relative;
}

.car-selection {
  grid-area: car-selection;
  padding: 5px;
  text-align: center;
}

.left-honda-content {
  grid-area: left-honda-content;
}

.right-honda-car {
  grid-area: right-honda-car;
}

.right-audi-content {
  grid-area: right-audi-content ;
}

.left-audi-car {
  grid-area: left-audi-car;
}

.left-chevy-content {
  grid-area: left-chevy-content;
}

.right-chevy-car {
  grid-area: right-chevy-car;
}

.left-ford-car {
  grid-area: left-ford-car;
}

.right-ford-content {
  grid-area: right-ford-content;
}

.footer {
  grid-area: footer;
}

.privacy {
  grid-area: privacy;
}
/*
grid-area: end
*/

/*
header and footer: start
*/
.header, .footer {
  font-size: 11px;
  color: #FEFFFF;
}

.header, .footer, .privacy, .nav {
  background-color: #3C4853;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: -2px;
  vertical-align: middle;
}

.privacy {
  color: #85a4b4;
  font-size: 8px;
  padding-top: 35px;
  padding-right: 20px;
}

.header-content {
  padding-top: 10px;
}

.footer-content {
  padding-top: 35px;
}

.header-content, .footer-content {
  padding-left: 20px;
}

.nav {
  color: #FDFCFF;
  font-size: 10px;
}

.nav ul, .privacy {
  text-align: right;
}

.ul-nav > li {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
  cursor: pointer;
}

.search-icon {
  width: 12px;
  height: 12px;
  margin-bottom: 2px;
  vertical-align: middle;
  cursor: pointer;
}
/*
header and footer: end
*/

/*get-started: start */
.get-started-img {
  width: 100%;
  background-size: cover;
}

.button {
  border-radius: 0;
  border-style: none;
  color: white;
  font-size: 10px;
  height: 22px;
  cursor: pointer;
}

.get-started-button {
  position: absolute;
  bottom: 23%;
  left: 13.5%;
  height: 30px;
  width: 130px;
  background-color: #34C07B;
}

.get-started-button:hover {
  background-color: #38D286;
}
/*get-started: end */

/*car-selection: start */
.find-dream-car-button {
  width: 155px;
  margin-right: 10px;
  background-color: #ED7F63;
}

.find-dream-car-button:hover {
  background-color: #F9957A;
}

select {
    padding-right: 10px!important;
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 22px;
    width: 155px;
    font-size: 10px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 1px 1px 1px #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 1px 1px 1px #ccc, 0 -1px #fff inset;
    box-shadow: 1px 1px 1px #ccc, 0 -1px #fff inset;
    color: #888;
    border: 1px solid #CCCCCC;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

label {
  position: relative
}

label:after {
  content: '>';
  font: 11px "Consolas", monospace;
  color: #aaa;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 10px;
  top: 4px;
  padding: 0 10px 2px;
  position: absolute;
  pointer-events: none;
}

label:before {
  content: '';
  position: absolute;
  pointer-events: none;
  display: block;
}

select:hover {
  border: 1px solid #3B4953;
}
/*car-selection: end */

/*car description and images: start */
.left-content {
  padding-top: 10px;
  padding-left: 95px;
  background-color: #EFF3F4;
}

.right-content {
  padding-top: 10px;
  padding-left: 45px;
  background-color:#FEFFFF;
}

.right-car {
  background-color: #EFF3F4;
}

.left-car {
  background-color: #FEFFFF;
  padding-left: 80px;
}

.img {
  position: relative;
  float: left;
}

.image-hover-text {
  color: white;
  line-height: 1.5;
  text-align: center;
  width: 150px;
  margin-left: 10px;
  font-size: 16px;
}

.learn-more {
  font-size: 13px;
}

.horizontal-rule {
  border-top: 1px solid white!important;
  border-width: 1.5px;
  width: 80%;
  text-align: center;
  margin-left: 10px;
}

.car-title {
  color: #3C4853;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.car-description {
  color: #3C4853;
  font-size: 11px;
  width: 80%;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 10px;
  line-height: 1.5;
}

.view-all-button {
  height: 20px;
  width: 70px;
  margin-top: 10px;
  background-color: #54C4E5;
}

.view-all-button:hover {
  background-color: #62D3F3;
}

.car-img-wrapper {
  margin: 20px 0 20px 10px;
  width: 155px;
  height: 155px;
  float: left;
  position: relative;
  display: inline-block;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  text-align: center;
  color: white;
  font-weight: bold;
}

.car-img {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.car-img-wrapper:hover {
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
  cursor: pointer;
}
/*car description and images: end */
